h1, h2 {
  font-family: Verdana;
  color: white;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
 font-weight: 300;
 font-size: 42px;
}

p{
  font-family: Verdana;
  font-size: 21px;
  text-align: center;
  color: gray;
}

.download {
  color: Aquamarine;
  font-size: 16px;
}

body {
  background-color: black
}

.copyright {
  text-align: right;
}

video {
  margin: auto;
  display: block;
}
